

  .nav_bar_header{
    padding: 0;
    margin: 0 0rem;
    top: 0;
    left: 0;
    height: 10vh;
    }
  .nav_bar {
    
    display: flex;
    height: inherit;
  }
  
  .nav_bar_name{
    display: flex;
      align-items: center;
      margin: 0 1rem;
  }
  .nav_bar_space{
      
     flex: 1;
  }
  .nav_bar_items{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ul a {
    margin: 0 1rem 0;
  }
  
  a {
    text-decoration: none;
    color: #414545;
  }

  ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .select_Bar_Word{
    margin-top: 5px;
  }

  .select_Bar{
    background: #4A69A4;
    height: 2px;
    width: 80%;
    border-radius: 1px;
    margin-top: 2px;
    display: none;
  }
  

  @media (hover: hover) and (pointer: fine) {
      .nav_bar_items li:hover, .nav_bar_name a:hover{
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }