
.pop_Up_Container{
    margin:0;   
    
    opacity: 0;
    z-index: 10;
    
    animation: fadeIn 400ms forwards;
    -webkit-animation: fadeIn 400ms forwards;
    -moz-animation: fadeIn 400ms forwards;
    -o-animation: fadeIn 400ms forwards;
    -ms-animation: fadeIn 400ms forwards;
    
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-o-keyframes-@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-ms-keyframes-@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}
/* ----------------------- */
@keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}
@-moz-@keyframes fadeIn{
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-@keyframes fadeIn{
    from {opacity:1;}
    to {opacity: 0;}
}

@-o-keyframes-@keyframes fadeIn{
    from {opacity: 1;}
    to {opacity: 0;}
}

@-ms-keyframes-@keyframes fadeIn{
    from {opacity: 1;}
    to {opacity: 0;}
}

.background_Blur{
    /*display: none !important; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0rem;
    /****************** IE FIX ****************/
   /* background: #00000094; */
   background: rgba(0,0,0,.57);

    
}



 .pop_up_content{
    /*display: none !important; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 3rem;
    background: #ECEFF1;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    display: grid;
    grid-template-columns: 1fr .2fr;
    grid-template-rows: 70px auto;

    /************ IE FIX ************/
    display: -ms-grid;
    -ms-grid-columns: 1fr .2fr;
    -ms-grid-rows: 70px auto;

    
    
 }

 .exitButton {
     grid-column: 2;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

     /************* IE FIX ************/
     -ms-grid-column: 2;
     -ms-grid-row: 1;
     grid-row: 1;
     
 }
.pop_up_header{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: left;
    align-items: center;

    /*************** IE FIX **************/
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    
}

.pop_up_header h1{
    padding-left: 2rem;
}

 .filler{
     min-height: 40vh;
     grid-column: 1 / 3;
     
     padding: 2rem;

     /************** IE FIX **********/
     -ms-grid-column-span: 2;
     -ms-grid-column: 1;
     -ms-grid-row: 2;
     grid-row: 2;
     
 }

 .filler_spacer{
     padding: 1px;
 }
 
 @media(max-width: 750px){
     .pop_up_content{
         margin: 1rem !important;
     }
     .exitButton{
         margin-right: 1rem;
     }
 }