.tile_container {
    width: 100%;
    height: inherit;
    background: #ffffff;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-shadow: 5px 5px 5px lightgrey;
    
}
.tile_container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.title_project {
    height: 20%;    
}

.tile_description {
    height: 60%;
    width: 80%;
   
}

/******IE FIX **************/
.tile_description > p{
    width: 100%;
}

.tile_button{
    height: 20%;
    width: 100%;
}


.tile_container p, h1{
    color: #414545;
    text-align: center;
    margin: 0;
}

@media (max-width: 750px){
    .tile_container{
        max-width: 600px;
    }
}