
.pop_Up_Container{
    margin:0;    
}
.background_Blur{
    /*display: none !important; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0rem;
    background: #00000094;
    
}
 .pop_up_content{
    /*display: none !important; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10rem;
    background: lightblue;
 }