.landing_Page_Intro{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }
  
  .landing_Page_Intro p{
    
    width: 50%;
    margin: 0;
    text-align: center;
    
    font-size: 24px;
  
  }
  
  .projects_Header{
    height: 120px;
    width: 100%;
    background: #ECEFF1;
    display: flex;
    align-items: center;
    justify-content: left;
  
  }
  
  .projects_Header h1, .landing_Page_Projects{
    padding: 30px;
  }
  
  
  .landing_Page_Projects{
    min-height: 1200px;
    background: #ECEFF1;
    display: grid;
    /******** IE FIX ************/
    display: -ms-grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;

    /********* IE FIX ****************/
    -ms-grid-columns: 2fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    
  }

  /****************** IE FIX **************/
    .proImg_1 { -ms-grid-row: 1}
    .proImg_2 { -ms-grid-row: 2}
    .proImg_3 { -ms-grid-row: 3}
    .proTile_1 { -ms-grid-row: 1}
    .proTile_2 { -ms-grid-row: 2}
    .proTile_3 { -ms-grid-row: 3}

    /*For IE*/
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
    .projectImg{margin: 4px;}
    .tile{margin: 4px} 
  }
  /*for edge*/
  @supports (-ms-ime-align:auto)  {
    
    .projectImg{margin: 4px;}
    .tile{margin: 4px} 
 }
  
  
   .landing_Page_Projects > div {
    width: auto;
    max-height: 400px;
    /*
    animation: fadeInHomePage 4000ms;
    -webkit-animation: fadeInHomePage 4000ms;
    -moz-animation: fadeInHomePage 4000ms;
    -o-animation: fadeInHomePage 4000ms;
    -ms-animation: fadeInHomePage 4000ms;
    */
  }
  /*
  .landing_Page_Projects div{ 
  opacity: 0;
  animation: fadeIn 8000ms forwards;
}*/
  
@keyframes fadeInHomePage{
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-@keyframes fadeInHomePage{
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-@keyframes fadeInHomePage{
  from {opacity: 0;}
  to {opacity: 1;}
}

@-o-keyframes-@keyframes fadeInHomePage{
  from {opacity: 0;}
  to {opacity: 1;}
}

@-ms-keyframes-@keyframes fadeInHomePage{
  from {opacity: 0;}
  to {opacity: 1;}
}


  .landing_Page_Projects img{
    width: 100%;
    max-width: 600px;
    height: 400px;
    box-shadow: 5px 5px 5px lightgrey;
    object-fit: cover;
  }
  
  .projectImg{
    display: flex;
    align-items: center;
    justify-content: left;
    /*************** IE FIX **************/
    -ms-grid-column: 1;
  }
  
  .tile{
    height: auto;
    width: auto;
    display: flex;
    align-content: center;
    justify-content: center;

    /*************** IE FIX **************/
    -ms-grid-column: 2;
  }
  
  .projects_Footer{
    height: 150px;
    width: 100%;
    background: #ECEFF1;
  }
  .projects_Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 0;
  }
  .projects_Footer  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 0;
  }



  @media (max-width: 750px){
    .landing_Page_Projects{
    
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-row-gap: 0;

      /************ IE FIX **************/
      -ms-grid-columns: 1fr;
      -ms-grid-rows: 1fr;
    }

     /****************** IE FIX **************/
     .proImg_1 { -ms-grid-row: 1}
     .proImg_2 { -ms-grid-row: 3}
     .proImg_3 { -ms-grid-row: 5}
     .proTile_1 { -ms-grid-row: 2}
     .proTile_2 { -ms-grid-row: 4}
     .proTile_3 { -ms-grid-row: 6}
 
     /*For IE*/
   @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
     .projectImg{margin: 4px 0 0 0;}
     .tile{margin: 0 0 4px 0} 
   }
   /*for edge*/
   @supports (-ms-ime-align:auto)  {
    .projectImg{margin: 4px 0 0 0;}
    .tile{margin: 0 0 4px 0} 
  }
    
    .landing_Page_Projects > div {
      /*max-width: 600px;*/
      max-height: 400px;
      display: flex;
      justify-content: center;
      
    }

    .tile{
      margin-bottom: 3rem;
      min-height: 200px;
      /**************** IE FIX **************/
      -ms-grid-column: 1;
    }

    .landing_Page_Projects img{
      box-shadow: 0;
    }
  }