.project_Header{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    /********************* IE FIX *********/
    align-items: flex-start;
    justify-content: center;
    padding:1rem 1rem 2rem;
}
.project_Header p{
    width: 70%;
}

.project_Grid_Wrapper{
    min-height: 400px;
    padding:1rem 1rem 2rem;
    background: #ECEFF1;
    margin: 0 0 5rem 0;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 20px;

    /******* IE FIX **************/
    display: -ms-grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
}

/*********** IE FIX ***********/
.proj_1 { -ms-grid-row: 1}
.proj_2 { -ms-grid-row: 2}
.proj_3 { -ms-grid-row: 3}
.proj_4 { -ms-grid-row: 4}
.proj_5 { -ms-grid-row: 5}
.proj_6 { -ms-grid-row: 6}

/*For IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
    .proj {margin: 10px 0 }
    
  }
  /*for edge*/
@supports (-ms-ime-align:auto)  {
    .proj {margin: 10px 0 }
 }

